@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans+Condensed:300|Roboto+Condensed');

.page-wrap{
	width:1000px;
	margin-top:25px;
	margin-left: 50px;
	position: relative;
	height:100%;
}
.summary{
	width:750px;
	min-height:100%;
	margin-left:200px;
	position: relative;

}

.summary li{
	font-size: 15px;
}

.sidebar { 
	position: fixed;
	margin-top:150px;
	margin-left: 0px; 
	font-size: 14px;
	background-color: #e6e6e6;
}

.sidebar li:hover{
	background-color: #d9d9d9;
}

.sidebar li{
	float:none;
	padding:5px;
}

.sidebar ul{
	list-style: none;
	width:150px;
}

.sidebar a{
	padding:0px;
	text-align:left;
}