@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans+Condensed:300|Roboto+Condensed');

.card{
	padding:10px;
	width:500px;
}
.card-text{
	line-height:150%;
}

table{
	width:700px;
}

th, td{
	padding: 3px;
	border: 1px solid #111111;
	font-size: 14px;
}

a, a:hover{
	color: black;
}

th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: left;
}

html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
	min-height:100%;
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	color: #666666;
	background-color: #f9f8f6;
	background-position: center;
}


p, ol {
	font-size: 15px;
    font-weight: 500;
    line-height: 1.3em;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}

h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

h5 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	font-weight: bold;
}